<p>Dear User,</p>
<p>Your password in Eurovelo 10 database has been reset. Please, click the link below and enter new password:</p>
<p><%= link_to t('.password_change_link'), edit_password_url(@resource, reset_password_token: @token, config: message['client-config'].to_s, redirect_url: ENV["FRONTEND_REDIRECTION_URL"]).html_safe %></p>